
* {
    margin: 0;
}

body {
    font-size: 12px;
    text-align: justify;
    background-color: #0d3d46;
    overflow-x: hidden;
    -webkit-text-size-adjust: none !important;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-3px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-3px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-ms-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -ms-transform: translateX(-3px)
    }
    100% {
        opacity: 1;
        -ms-transform: translateX(0)
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: .2;
        -webkit-transform: translateY(-3px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@keyframes fadeInDown {
    0% {
        opacity: .2;
        transform: translateY(-3px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@-ms-keyframes fadeInDown {
    0% {
        opacity: .2;
        -ms-transform: translateY(-3px)
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0)
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: .2;
        -o-transform: translateY(-3px)
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0)
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: .2;
        -webkit-transform: translateX(5px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@keyframes fadeInRight {
    0% {
        opacity: .2;
        transform: translateX(5px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes Light {
    0% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(110%);
    }
}

@-ms-keyframes fadeInRight {
    0% {
        opacity: .2;
        -ms-transform: translateX(5px)
    }
    100% {
        opacity: 1;
        -ms-transform: translateX(0)
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: .2;
        -o-transform: translateX(5px)
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0)
    }
}

#_overlay_ {
    background-color: rgb(230, 245, 255);
    border-top: 1px solid rgb(230, 245, 255);
    position: absolute;
    height: 4005px;
    z-index: 100001;
    width: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.7;
}